<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit your post</title>
</head>
<body>
<form th:action="@{/posts/{id}/edit(id=${id})}" method="POST" th:object="${post}">
    <label for="title">Edit your title</label>
    <input th:field="*{title}" th:value="*{title}" id="title" name="title">
    <br>
    <label for="body">Edit your body</label>
    <input th:field="*{body}" th:value="*{body}" id="body" name="body">
    <button type="submit">Submit</button>

</form>
</body>
</html>