<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</body>
    <h2 th:text="${post.title}"></h2>
    <p th:text="${post.body}"></p>
    <p th:text="${post.user.email}"></p>
        <form th:action="@{/posts/delete/{id}(id=${post.id})}" method="POST">
            <!-- <input hidden th:value="${post.id}"> -->
            <!-- @ : access the directories and files -->
            <button type="submit">Delete</button>
        </form>
        <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="POST">
            <input hidden th:value="${post.title}" name="title">
            <input hidden th:value="${post.body}" name="body">
            <button type="submit">Edit</button>
        </form>
    </form>
</html>