<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create form</title>
</head>
<body>
       <!-- @ for links (thymeleaf normalizing where to go to) ; knows where to input the data,
            $ for referring back to the model attribute, and
            * for referring to a field within the object in the form.-->
    <form action="/ads/create" th:action="@{/ads/create}" method="post" th:object="${ad}">
        Title:
       <input th:field="*{title}" />
        <br />
        Description:
        <textarea th:field="*{description}" />
        <br />
        <input type="submit" />
    </form>
</body>
</html>