<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="partials/styles.html  :: styles"></th:block>

</head>
<body>
<th:block th:include="partials/navbar.html :: navbar"></th:block>
<!--Top-->
<div th:if="${ad}">
    <h2 th:text="${ad.title}">title</h2>
    <p th:text="${ad.description}">description</p>
    <p th:text="${ad.user.username}"></p>
    <span th:each="cat : ${ad.categories}">
        | <span th:text="${cat.name}"></span>
    </span>
</div>

<!--Bottom-->
<th:block th:include="partials/scripts.html  :: scripts"></th:block>
</body>
</html>