body {
    background-color: black;
    color: whitesmoke;
}

h2 {
    color: #460acb;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.card {
    color: rgba(206, 155, 252, 0.67);
    width: 18em;
    margin: 20px;
}

.btn {
    background-color: #460acb;
    color: whitesmoke;
    margin-top: 5px;
}