<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
<!-- This provides the access from bootstrap that comes from styles.html -->
    <th:block th:include="partials/styles.html :: styles"></th:block>

<!--    Can also use the replace syntax to add a fragment to the document ; will replace the entire head -->
<!--    <th:block th:replace="partials/styles.html :: styles"></th:block>-->
</head>
<body>
<!-- Adds the navbar.html located within the partials directory -->
    <nav th:replace="partials/navbar.html :: navbar"></nav>
    <h1 class="bg-secondary">This is the landing page!</h1>
        <!--Hello, n.n-->

    <th:block th:include="partials/scripts.html :: scripts"></th:block>
</body>
</html>